<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.management.mapper.ClassMapper">
    <resultMap id="BaseResultMap" type="com.student.management.entity.Class">
        <id column="id" property="id"/>
        <result column="class_name" property="className"/>
        <result column="grade" property="grade"/>
        <result column="major" property="major"/>
        <result column="student_count" property="studentCount"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT * FROM class ORDER BY id DESC
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM class WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.student.management.entity.Class" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO class (
            class_name, grade, major, student_count
        ) VALUES (
            #{className}, #{grade}, #{major}, #{studentCount}
        )
    </insert>

    <update id="update" parameterType="com.student.management.entity.Class">
        UPDATE class
        <set>
            <if test="className != null">class_name = #{className},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="major != null">major = #{major},</if>
            <if test="studentCount != null">student_count = #{studentCount},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM class WHERE id = #{id}
    </delete>

    <update id="updateStudentCount">
        UPDATE class SET student_count = #{count} WHERE id = #{id}
    </update>

    <delete id="batchDelete">
        DELETE FROM class WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper> 